.chat-container {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-container .chat {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 8px 12px;
}

.late-chat {
  background-color: rgba(0, 0, 0, 0.25);
}

.chat-container .chat p {
  margin: 0;
}

.chat .icon-comment {
  font-size: 3em;
  color: var(--secondary) !important;
}
