header {
  height: 56px;
  background-color: var(--background-strong);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header > .profile-pic {
  cursor: pointer;
}

header > .profile-pic > i {
  font-size: 2.5em;
  margin: 4px;
}

header > .profile-pic > img {
  border-radius: 50%;
  margin: 2px;
}

.chat-title > div {
  width: fit-content;
  margin: 0 auto;
}
