:root {
  --background-pale: #ffefaf;
  --background-regular: #ffd500;
  --background-strong: #fbb900;
}

body {
  background-color: var(--background-pale);
  height: 100vh;
  min-height: 100vh;
  line-height: normal;
}

main {
  height: calc(100vh - 56px);
}
