:root {
  --background-pale: #ffefaf;
  --background-regular: #ffd500;
  --background-strong: #fbb900;
}

body {
  background-color: var(--background-pale);
  height: 100vh;
  min-height: 100vh;
  line-height: normal;
  font-family: "Roboto";
}

main {
  height: calc(100vh - 56px);
}

a {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}
